swiper-container {
    --swiper-navigation-size: 25px;
    --swiper-navigation-color: white;
  
    --swiper-pagination-bullet-size: 12px;
    --swiper-pagination-bullet-inactive-color: rgba(255, 255, 255, 0.4);
    --swiper-pagination-bullet-inactive-opacity: 1;
    --swiper-pagination-bullet-opacity: 1;
    --swiper-pagination-color: #dc2626; /* cor da bolinha ativa */
    
  }

 

  